.back {
  cursor: pointer;
  font-size: 2vw;
  position: absolute;
  top: 1vh;
  left: 2vw;
  border: none;
  background: none;
  color: -internal-light-dark(black, white);
  font-family: "Dancing Script", cursive;
}
