.card {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  width: 7vw;
  height: 9.8vw;
  border-radius: 0.3vw;
}

.card__rank-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__rank-right {
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  top: 4.7vw;
  margin-right: 0.4vw;
}

.card__suite-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__suite-right {
  text-align: left;
  position: relative;
  transform: rotate(180deg);
  top: 4.7vw;
  margin-right: 0.4vw;
}

.card__suite {
  text-align: center;
}

.card__down {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/card_back.png");
  text-decoration: transparent;
  margin-bottom: -8.5vw;
}

.card__down > .card__content {
  visibility: hidden;
}

.card__selected {
  border: 4px solid red;
  box-shadow: none !important;
}

.card__remcards {
  position: absolute;
  top: 75vh;
  left: 90vw;
}

.card__stack {
  margin-bottom: -7vw;
  transition: all 2s smooth;
}

.card:hover {
  box-shadow: 4px 4px 10px rgb(247, 210, 0);
}

.card__highlighted {
  border: 4px solid palevioletred;
  box-shadow: none !important;
}

.heart {
  background: url("../assets/heart.png") #ffffff;
  color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.spade {
  background: url("../assets/spade.png") #ffffff;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.club {
  background: url("../assets/club.png") #ffffff;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.diamond {
  background: url("../assets/diamond.png") #ffffff;
  color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
