.card {
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  height: 23vh;
  width: 8.2vw;
  border-radius: 2vh;
}

.card__rank-left {
  text-align: left;
}

.card__rank-right {
  text-align: left;
  transform: rotate(180deg);
}

.card__suite-left {
  text-align: left;
}

.card__suite-right {
  text-align: left;
  transform: rotate(180deg);
}

.card__suite {
  text-align: center;
}

.card__down {
  background-color: orange;
  text-decoration: transparent;
}

.card__down > .card__content {
  visibility: hidden;
}

.card__selected {
  border: 2px solid pink;
}

.card__remcards {
  position: absolute;
  top: 64vh;
  left: 85vw;
}

.card__stack {
  margin-bottom: -20vh;
}

.card__holder {
  margin: 4% 0;
}
