.gametype {
  cursor: pointer;
  background-color: #222220;
  height: 31vh;
  width: 23vw;
  padding: 4%;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
}

.gametype__removedecoration {
  text-decoration: none;
  color: aliceblue;
}

.gametype__link {
  position: relative;
  top: 3vh;
}

.gametype__image {
  height: 20vh;
  width: 20vw;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightblue;
}

.gametype:hover {
  transition: all 0.5s;
  transform: scale(1.25, 1.25);
  box-shadow: 15px 15px 30px black;
}

.gametype:hover img {
  border: 4px solid lightblue;
}

.gametype:hover h3 {
  transition: all 0.5s;
  transform: scale(1.25, 1.25);
  color: red;
}
