* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screensizewarn {
  display: none;
}

@media screen and (orientation: portrait) {
  .app__gameplay {
    display: none;
  }
  .screensizewarn {
    display: block;
  }
}

.card-enter {
  opacity: 0.01;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
